# Cleaning and Analysing Dataset

### Import pandas

In [1]:
import pandas as pd

#### Read csv

In [2]:
df = pd.read_csv('Netflix TV Shows and Movies.csv')

In [3]:
df

,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
0,0,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,tt0075314,8.3,795222.0
1,1,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,tt0071853,8.2,530877.0
2,2,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,tt0079470,8.0,392419.0
3,3,tm190788,The Exorcist,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1973,R,133,tt0070047,8.1,391942.0
4,4,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,tt0063929,8.8,72895.0
...,...,...,...,...,...,...,...,...,...,...,...
5278,5278,tm1040816,Momshies! Your Soul is Mine,MOVIE,Three women with totally different lives accid...,2021,NaN,108,tt14412240,5.8,26.0
5279,5279,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,NaN,100,tt13857480,6.9,39.0
5280,5280,tm1045018,Clash,MOVIE,A man from Nigeria returns to his family in Ca...,2021,NaN,88,tt14620732,6.5,32.0
5281,5281,tm1098060,Shadow Parties,MOVIE,A family faces destruction in a long-running c...,2021,NaN,116,tt10168094,6.2,9.0
5282,5282,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,0,tt13711094,8.8,16.0

#### No. of rows and columns

In [4]:
df.shape

(5283, 11)

#### Info of all columns

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5283 entries, 0 to 5282
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              5283 non-null   int64
 1   id                 5283 non-null   object
 2   title              5283 non-null   object
 3   type               5283 non-null   object
 4   description        5278 non-null   object
 5   release_year       5283 non-null   int64
 6   age_certification  2998 non-null   object
 7   runtime            5283 non-null   int64
 8   imdb_id            5283 non-null   object
 9   imdb_score         5283 non-null   float64
 10  imdb_votes         5267 non-null   float64
dtypes: float64(2), int64(3), object(6)
memory usage: 454.1+ KB

#### First 5 rows

In [6]:
df.head()

,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
0,0,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,tt0075314,8.3,795222.0
1,1,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,tt0071853,8.2,530877.0
2,2,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,tt0079470,8.0,392419.0
3,3,tm190788,The Exorcist,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1973,R,133,tt0070047,8.1,391942.0
4,4,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,tt0063929,8.8,72895.0

#### Last 5 rows

In [7]:
df.tail()

,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
5278,5278,tm1040816,Momshies! Your Soul is Mine,MOVIE,Three women with totally different lives accid...,2021,NaN,108,tt14412240,5.8,26.0
5279,5279,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,NaN,100,tt13857480,6.9,39.0
5280,5280,tm1045018,Clash,MOVIE,A man from Nigeria returns to his family in Ca...,2021,NaN,88,tt14620732,6.5,32.0
5281,5281,tm1098060,Shadow Parties,MOVIE,A family faces destruction in a long-running c...,2021,NaN,116,tt10168094,6.2,9.0
5282,5282,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,0,tt13711094,8.8,16.0

#### Stats of all columns

In [8]:
df.describe()

             index  release_year      runtime   imdb_score    imdb_votes
count  5283.000000   5283.000000  5283.000000  5283.000000  5.267000e+03
mean   2641.000000   2015.879992    79.199886     6.533447  2.340719e+04
std    1525.215067      7.346098    38.915974     1.160932  8.713432e+04
min       0.000000   1953.000000     0.000000     1.500000  5.000000e+00
25%    1320.500000   2015.000000    45.000000     5.800000  5.210000e+02
50%    2641.000000   2018.000000    87.000000     6.600000  2.279000e+03
75%    3961.500000   2020.000000   106.000000     7.400000  1.014400e+04
max    5282.000000   2022.000000   235.000000     9.600000  2.268288e+06

### What are all the column names?

In [9]:
df.columns

Index(['index', 'id', 'title', 'type', 'description', 'release_year',
       'age_certification', 'runtime', 'imdb_id', 'imdb_score', 'imdb_votes'],
      dtype='object')

### What years of movie/shows is in this dataset?

In [10]:
df['release_year'].unique()

array([1976, 1975, 1979, 1973, 1969, 1971, 1964, 1980, 1967, 1966, 1961,
       1954, 1958, 1968, 1977, 1972, 1963, 1960, 1956, 1953, 1974, 1959,
       1962, 1978, 1986, 1989, 1984, 1990, 1987, 1983, 1982, 1981, 1988,
       1985, 1995, 2000, 1997, 1994, 1996, 1999, 1998, 1993, 1992, 1991,
       2008, 2010, 2004, 2005, 2003, 2009, 2007, 2006, 2001, 2002, 2012,
       2011, 2014, 2013, 2015, 2016, 2017, 2018, 2019, 2020, 2022, 2021],
      dtype=int64)

### What are all the age certifications for the movies/shows?

In [11]:
df['age_certification'].unique()

array(['R', 'PG', 'TV-14', 'G', 'PG-13', nan, 'TV-MA', 'TV-PG', 'TV-Y',
       'TV-G', 'TV-Y7', 'NC-17'], dtype=object)

### What are all the ratings for the movies/shows?

In [12]:
df['imdb_score'].unique()

array([8.3, 8.2, 8. , 8.1, 8.8, 7.7, 7.8, 5.8, 7.3, 7.5, 7.6, 6.9, 7.2,
       6.2, 6.4, 6.7, 6.8, 9. , 2.1, 7.4, 6.5, 4.6, 4.2, 5.1, 8.9, 6.6,
       7.1, 4.9, 6.1, 6. , 7.9, 7. , 5.6, 8.7, 6.3, 4.8, 3.8, 5.2, 5.4,
       8.4, 8.6, 8.5, 4.5, 5.7, 5.9, 4.7, 4. , 5.5, 3.6, 5. , 9.5, 9.3,
       3.9, 5.3, 4.1, 4.4, 2.9, 4.3, 3.5, 9.6, 3.4, 3.3, 2. , 3.2, 1.7,
       2.6, 9.2, 3.1, 3.7, 1.9, 2.8, 2.7, 1.5, 2.3, 3. , 2.2, 9.1, 2.5,
       2.4, 1.6, 1.8])

### What is the average rating for all movies and tv shows?

In [13]:
df['imdb_score'].median()

6.6

## Cleaning up the dataset

### Remove the extra columns

In [14]:
df = df.drop(['index', 'id', 'imdb_id'], axis = 1)
df

,title,type,description,release_year,age_certification,runtime,imdb_score,imdb_votes
0,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,8.3,795222.0
1,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,8.2,530877.0
2,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,8.0,392419.0
3,The Exorcist,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1973,R,133,8.1,391942.0
4,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,8.8,72895.0
...,...,...,...,...,...,...,...,...
5278,Momshies! Your Soul is Mine,MOVIE,Three women with totally different lives accid...,2021,NaN,108,5.8,26.0
5279,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,NaN,100,6.9,39.0
5280,Clash,MOVIE,A man from Nigeria returns to his family in Ca...,2021,NaN,88,6.5,32.0
5281,Shadow Parties,MOVIE,A family faces destruction in a long-running c...,2021,NaN,116,6.2,9.0
5282,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,0,8.8,16.0

### What rows have at least one missing value?

In [15]:
nan_df = df[df.isna().any(axis=1)]
nan_df

,title,type,description,release_year,age_certification,runtime,imdb_score,imdb_votes
10,The Guns of Navarone,MOVIE,A team of allied saboteurs are assigned an imp...,1961,NaN,158,7.5,50150.0
14,White Christmas,MOVIE,Two talented song-and-dance men team up after ...,1954,NaN,115,7.5,42373.0
15,Cairo Station,MOVIE,"Qinawi, a physically challenged peddler who ma...",1958,NaN,77,7.5,4385.0
16,The Queen,MOVIE,"In 1967, New York City is host to the Miss All...",1968,NaN,68,7.2,1117.0
19,Saladin the Victorious,MOVIE,"Saladin, the first sultan of Egypt and Syria, ...",1963,NaN,186,7.6,2470.0
...,...,...,...,...,...,...,...,...
5278,Momshies! Your Soul is Mine,MOVIE,Three women with totally different lives accid...,2021,NaN,108,5.8,26.0
5279,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,NaN,100,6.9,39.0
5280,Clash,MOVIE,A man from Nigeria returns to his family in Ca...,2021,NaN,88,6.5,32.0
5281,Shadow Parties,MOVIE,A family faces destruction in a long-running c...,2021,NaN,116,6.2,9.0
5282,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,0,8.8,16.0

### How many missing values are their in the column 'Description'?

In [16]:
description_nan_count = df['description'].isna().sum()
description_nan_count

5

### How many missing values are their in the column 'Imdb votes'?

In [17]:
imdb_votes_nan_count = df['imdb_votes'].isna().sum()
imdb_votes_nan_count

16

### How many missing values are their in the column 'age certification'?

In [18]:
age_certification_nan_count = df['age_certification'].isna().sum()
age_certification_nan_count

2285

### What is the average No. of votes?

In [19]:
median_imdb_votes = df['imdb_votes'].median()
median_imdb_votes

2279.0

### Fill Na with valid placement

In [20]:
df['description'].fillna('No description', inplace = True)

In [21]:
df['imdb_votes'].fillna(median_imdb_votes, inplace = True)

In [22]:
df['age_certification'].fillna('No certification', inplace = True)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5283 entries, 0 to 5282
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   title              5283 non-null   object
 1   type               5283 non-null   object
 2   description        5283 non-null   object
 3   release_year       5283 non-null   int64
 4   age_certification  5283 non-null   object
 5   runtime            5283 non-null   int64
 6   imdb_score         5283 non-null   float64
 7   imdb_votes         5283 non-null   float64
dtypes: float64(2), int64(2), object(4)
memory usage: 330.3+ KB

In [24]:
df.describe()

       release_year      runtime   imdb_score    imdb_votes
count   5283.000000  5283.000000  5283.000000  5.283000e+03
mean    2015.879992    79.199886     6.533447  2.334321e+04
std        7.346098    38.915974     1.160932  8.700999e+04
min     1953.000000     0.000000     1.500000  5.000000e+00
25%     2015.000000    45.000000     5.800000  5.220000e+02
50%     2018.000000    87.000000     6.600000  2.279000e+03
75%     2020.000000   106.000000     7.400000  1.009700e+04
max     2022.000000   235.000000     9.600000  2.268288e+06

In [25]:
df['age_certification'].unique()

array(['R', 'PG', 'TV-14', 'G', 'PG-13', 'No certification', 'TV-MA',
       'TV-PG', 'TV-Y', 'TV-G', 'TV-Y7', 'NC-17'], dtype=object)

## Univariate analysis

In [26]:
df

,title,type,description,release_year,age_certification,runtime,imdb_score,imdb_votes
0,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,8.3,795222.0
1,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,8.2,530877.0
2,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,8.0,392419.0
3,The Exorcist,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1973,R,133,8.1,391942.0
4,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,8.8,72895.0
...,...,...,...,...,...,...,...,...
5278,Momshies! Your Soul is Mine,MOVIE,Three women with totally different lives accid...,2021,No certification,108,5.8,26.0
5279,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,No certification,100,6.9,39.0
5280,Clash,MOVIE,A man from Nigeria returns to his family in Ca...,2021,No certification,88,6.5,32.0
5281,Shadow Parties,MOVIE,A family faces destruction in a long-running c...,2021,No certification,116,6.2,9.0
5282,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,No certification,0,8.8,16.0

### Highest rated and lowest rated

In [27]:
highest_rated = df.sort_values('imdb_score', ascending=False)
highest_rated

,title,type,description,release_year,age_certification,runtime,imdb_score,imdb_votes
622,Khawatir,SHOW,A TV show devoted to help young people to be m...,2005,TV-14,20,9.6,3046.0
2787,#ABtalks,SHOW,#ABtalks is a YouTube interview show hosted by...,2018,TV-PG,68,9.6,7.0
229,Breaking Bad,SHOW,"When Walter White, a New Mexico chemistry teac...",2008,TV-MA,48,9.5,1727694.0
3144,Our Planet,SHOW,Experience our planet's natural beauty and exa...,2019,TV-G,50,9.3,41386.0
3597,Kota Factory,SHOW,"Dedicated to Shrimati SL Loney ji, Shri Irodov...",2019,TV-MA,42,9.3,66985.0
...,...,...,...,...,...,...,...,...
4782,Thomas & Friends: All Engines Go!,SHOW,"In a reboot of the classic TV series, a younge...",2021,TV-Y,11,1.7,509.0
1101,Himmatwala,MOVIE,When a temple priest commits suicide after bei...,2013,No certification,150,1.7,8550.0
3355,Me Against You: Mr. S's Vendetta,MOVIE,A young couple who makes popular YouTube video...,2020,No certification,64,1.7,362.0
4648,He's Expecting,SHOW,When a successful ad executive who's got it al...,2022,TV-PG,26,1.6,2735.0
1664,Aerials,MOVIE,Earth is invaded by Aliens from outer space. A...,2016,No certification,90,1.5,382.0

### Highest rated and lowest rated but must have more than 1000 votes

In [28]:
rating_filtered_df = df[df['imdb_votes'] > 1000].sort_values(by='imdb_score', ascending=False)
rating_filtered_df

,title,type,description,release_year,age_certification,runtime,imdb_score,imdb_votes
622,Khawatir,SHOW,A TV show devoted to help young people to be m...,2005,TV-14,20,9.6,3046.0
229,Breaking Bad,SHOW,"When Walter White, a New Mexico chemistry teac...",2008,TV-MA,48,9.5,1727694.0
3144,Our Planet,SHOW,Experience our planet's natural beauty and exa...,2019,TV-G,50,9.3,41386.0
3597,Kota Factory,SHOW,"Dedicated to Shrimati SL Loney ji, Shri Irodov...",2019,TV-MA,42,9.3,66985.0
245,Avatar: The Last Airbender,SHOW,"In a war-torn world of elemental magic, a youn...",2005,TV-Y7,24,9.3,297336.0
...,...,...,...,...,...,...,...,...
801,FRED 3: Camp Fred,MOVIE,"Schools out, and Fred Figglehorn's dream of wa...",2012,PG,81,2.0,2625.0
1556,Kyaa Kool Hain Hum 3,MOVIE,In order to impress his girlfriend's conservat...,2016,No certification,124,1.9,4341.0
5035,Racket Boys,SHOW,A story of a boys' badminton team at a middle ...,2021,TV-14,70,1.8,27484.0
1101,Himmatwala,MOVIE,When a temple priest commits suicide after bei...,2013,No certification,150,1.7,8550.0
4648,He's Expecting,SHOW,When a successful ad executive who's got it al...,2022,TV-PG,26,1.6,2735.0

### Highest and lowest rated movies

In [29]:
rating_movie_df = df[(df['imdb_votes'] > 1000) & (df['type'] == 'MOVIE')].sort_values(by='imdb_score', ascending=False)
rating_movie_df

,title,type,description,release_year,age_certification,runtime,imdb_score,imdb_votes
3172,David Attenborough: A Life on Our Planet,MOVIE,The story of life on our planet by the man who...,2020,PG,83,9.0,31180.0
2685,C/o Kancharapalem,MOVIE,From a schoolboyÃ¢â‚¬â„¢s crush to a middle-aged ba...,2018,PG,152,9.0,6562.0
101,Forrest Gump,MOVIE,A man with a low IQ has accomplished great thi...,1994,PG-13,142,8.8,1994599.0
246,Inception,MOVIE,"Cobb, a skilled thief who commits corporate es...",2010,PG-13,148,8.8,2268288.0
4143,Sky Tour: The Movie,MOVIE,"From the preparations to the performances, thi...",2020,No certification,94,8.8,1036.0
...,...,...,...,...,...,...,...,...
2502,Nothing to Lose,MOVIE,Authorized biopic of Brazilian evangelical bis...,2018,PG,130,2.3,23016.0
2628,Romina,MOVIE,A shocking assault inspires horrific violence ...,2018,No certification,74,2.3,2282.0
801,FRED 3: Camp Fred,MOVIE,"Schools out, and Fred Figglehorn's dream of wa...",2012,PG,81,2.0,2625.0
1556,Kyaa Kool Hain Hum 3,MOVIE,In order to impress his girlfriend's conservat...,2016,No certification,124,1.9,4341.0
1101,Himmatwala,MOVIE,When a temple priest commits suicide after bei...,2013,No certification,150,1.7,8550.0

### Statistics for movies

In [30]:
rating_movie_df.describe()

       release_year      runtime   imdb_score    imdb_votes
count   2267.000000  2267.000000  2267.000000  2.267000e+03
mean    2014.961623   106.044111     6.403970  3.974565e+04
std        7.927620    26.075198     1.060318  1.135973e+05
min     1954.000000     8.000000     1.700000  1.003000e+03
25%     2014.000000    91.000000     5.700000  2.619500e+03
50%     2018.000000   102.000000     6.500000  6.501000e+03
75%     2020.000000   120.000000     7.200000  2.561600e+04
max     2022.000000   229.000000     9.000000  2.268288e+06

### Highest and lowest rated shows

In [31]:
rating_show_df = df[(df['imdb_votes'] > 1000) & (df['type'] == 'SHOW')].sort_values(by='imdb_score', ascending=False)
rating_show_df

,title,type,description,release_year,age_certification,runtime,imdb_score,imdb_votes
622,Khawatir,SHOW,A TV show devoted to help young people to be m...,2005,TV-14,20,9.6,3046.0
229,Breaking Bad,SHOW,"When Walter White, a New Mexico chemistry teac...",2008,TV-MA,48,9.5,1727694.0
3597,Kota Factory,SHOW,"Dedicated to Shrimati SL Loney ji, Shri Irodov...",2019,TV-MA,42,9.3,66985.0
245,Avatar: The Last Airbender,SHOW,"In a war-torn world of elemental magic, a youn...",2005,TV-Y7,24,9.3,297336.0
3144,Our Planet,SHOW,Experience our planet's natural beauty and exa...,2019,TV-G,50,9.3,41386.0
...,...,...,...,...,...,...,...,...
1461,Richie Rich,SHOW,Richie Rich is a boy who turned vegetables int...,2015,TV-PG,22,3.1,1041.0
3674,The Goop Lab,SHOW,"Leading with curiosity and keeping it real, Gw...",2020,TV-MA,33,2.5,3306.0
5000,Hype House,SHOW,"From humble beginnings to overnight fame, thes...",2022,TV-MA,32,2.3,2860.0
5035,Racket Boys,SHOW,A story of a boys' badminton team at a middle ...,2021,TV-14,70,1.8,27484.0
4648,He's Expecting,SHOW,When a successful ad executive who's got it al...,2022,TV-PG,26,1.6,2735.0

### Statistics for shows

In [32]:
rating_show_df.describe()

       release_year      runtime   imdb_score    imdb_votes
count   1137.000000  1137.000000  1137.000000  1.137000e+03
mean    2016.803870    41.510114     7.284960  2.861863e+04
std        5.803658    16.355216     0.985731  8.956701e+04
min     1969.000000     0.000000     1.600000  1.004000e+03
25%     2016.000000    27.000000     6.800000  2.163000e+03
50%     2018.000000    43.000000     7.400000  5.025000e+03
75%     2020.000000    51.000000     8.000000  1.697800e+04
max     2022.000000   141.000000     9.600000  1.727694e+06

### shows/movies with 0 listed runtime

In [33]:
run_time = df[df['runtime'] == 0]
run_time

,title,type,description,release_year,age_certification,runtime,imdb_score,imdb_votes
450,Kung Fu Panda Awesome Secrets,SHOW,"In this pair of adventures, Po tells the story...",2008,No certification,0,7.2,55.0
455,Dreamworks Happy Holidays from Madagascar,SHOW,Madagascar goes wild with holiday spirit in th...,2005,TV-PG,0,6.5,96.0
535,Pedro El Escamoso,SHOW,Pedro el escamoso is a popular telenovela film...,2001,TV-14,0,7.5,303.0
840,Masameer,SHOW,A popular Saudi animation show talks sarcastic...,2011,TV-MA,0,8.2,677.0
2503,Daughters of Destiny,SHOW,Five girls from India's most impoverished fami...,2017,No certification,0,8.6,900.0
2996,Afronta!,SHOW,Afronta invites contemporary black artists and...,2017,TV-PG,0,7.4,8.0
3528,Beyblade Burst Rise,SHOW,"Beyblade Burst Rise, also known as Beyblade Bu...",2019,No certification,0,5.7,156.0
3733,Basketball or Nothing,SHOW,the lives of the Chinle High School boys' bask...,2019,TV-PG,0,7.4,614.0
3743,Bad Boy Billionaires: India,SHOW,This investigative docuseries explores the gre...,2020,TV-14,0,7.9,3010.0
3757,The Forest of Love: Deep Cut,SHOW,Nothing's as it seems when a charismatic conma...,2020,TV-MA,0,6.8,426.0
4025,Pili Fantasy: War of Dragons,SHOW,"Turmoil looms in the Martial World, and the Ei...",2019,TV-14,0,6.7,37.0
4132,Twogether,SHOW,Travel show,2020,No certification,0,8.4,456.0
4161,Larry Charles' Dangerous World of Comedy,SHOW,Legendary comedy writer and director Larry Cha...,2019,TV-MA,0,7.3,570.0
4961,Sharkdog,SHOW,10 year old Max and his best friend Sharkdog -...,2021,TV-Y,0,6.2,136.0
5098,Dive Club,SHOW,Dive Club follows the story of a feisty group ...,2021,TV-PG,0,6.2,789.0
5128,Metal Shop Masters,SHOW,"A group of metal artists torch, cut and weld e...",2021,TV-MA,0,5.6,546.0
5210,Buried by the Bernards,SHOW,"In this reality series, the bickering but big-...",2021,TV-14,0,7.3,339.0
5282,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,No certification,0,8.8,16.0

### Most popular and least popular shows and movies

In [34]:
highest_votes = df.sort_values('imdb_votes', ascending=False)
highest_votes

,title,type,description,release_year,age_certification,runtime,imdb_score,imdb_votes
246,Inception,MOVIE,"Cobb, a skilled thief who commits corporate es...",2010,PG-13,148,8.8,2268288.0
101,Forrest Gump,MOVIE,A man with a low IQ has accomplished great thi...,1994,PG-13,142,8.8,1994599.0
229,Breaking Bad,SHOW,"When Walter White, a New Mexico chemistry teac...",2008,TV-MA,48,9.5,1727694.0
662,Django Unchained,MOVIE,"With the help of a German bounty hunter, a fre...",2012,R,165,8.4,1472668.0
104,Saving Private Ryan,MOVIE,"As U.S. troops storm the beaches of Normandy, ...",1998,R,169,8.6,1346020.0
...,...,...,...,...,...,...,...,...
91,High Risk,SHOW,High Risk is a program aired by the CBS televi...,1988,TV-PG,50,3.8,6.0
2752,The Birth Reborn 2,MOVIE,No description,2018,PG,91,6.6,5.0
5186,Let's Eat,SHOW,A food-blogging insurance agent encounters a f...,2021,TV-14,60,8.2,5.0
4110,Sitara,MOVIE,A Bangaldeshi housewife crosses the border to ...,2019,No certification,128,8.0,5.0
822,Chhota Bheem & Krishna in Mayanagari,MOVIE,Bheem and his Friends are having a great time ...,2011,G,66,9.0,5.0

## Make a new csv with cleaned version

In [37]:
 df.to_csv('Netflix_imdb_data.csv')